<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached">

    <div class="leftbar-user">
        <img src="/images/profile.png" alt="user-image" height="42" class="rounded-circle shadow-sm">
        <span class="leftbar-user-name">권수현 선생님</span>
    </div>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav">

        <li class="side-nav-title side-nav-item">Navigation</li>

        <li class="side-nav-item">
            <a href="/" class="side-nav-link">
                <i class="uil-home-alt"></i>
                <span> Dashboards </span>
            </a>
            <a href="/student" class="side-nav-link">
                <i class="uil-user"></i>
                <span> Students </span>
            </a>
            <a href="/homework" class="side-nav-link">
                <i class="uil-book-open"></i>
                <span> Homeworks </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Admin</li>
        <li class="side-nav-item">
            <a href="#" data-toggle="modal" data-target="#tc-login" class="side-nav-link">
                <i class="uil-user"></i>
                <span> Teacher </span>
            </a>
        </li>

        <% if (user) { %>
        <li class="side-nav-item side-nav-link">
            <button type="button" class="btn btn-outline-secondary btn-rounded btn-sm"> <%= user.username %> </button>
            <button type="button" class="btn btn-success btn-rounded btn-sm float-right"> logged in </button>
            <a href="/auth/logout"><button type="button" class="btn btn-danger btn-rounded btn-sm float-right"> log out </button></a>
        </li>
        <% } %>

    </ul>

    <!-- End Sidebar -->

</div>
<!-- Left Sidebar End -->