<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>수현쌤 교실</title>

        <!-- App css -->
        <link href="../public/stylesheets/icons.css" rel="stylesheet" type="text/css" />
        <link href="../public/stylesheets/app-modern.css" rel="stylesheet" type="text/css" id="light-style" />

    </head>
    <body class="" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Topbar Start -->
        <div class="navbar-custom topnav-navbar topnav-navbar-dark">
            <div class="container-fluid">

                <!-- LOGO -->
                <a href="index.html" class="nav-link" style="text-decoration: none; color: #98a6ad;">
                    <h2>KSH</h2>
                </a>

            </div>
        </div>
        <!-- end Topbar -->

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- Begin page -->
            <div class="wrapper">

                <!-- ========== Left Sidebar Start ========== -->
                <div class="left-side-menu left-side-menu-detached">

                    <div class="leftbar-user">
                        <img src="../public/images/profile.png" alt="user-image" height="42" class="rounded-circle shadow-sm">
                        <span class="leftbar-user-name">권수현 선생님</span>
                    </div>

                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item">
                            <a href="#" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span> Dashboards </span>
                            </a>
                            <a href="/student" class="side-nav-link">
                                <i class="uil-user"></i>
                                <span> Students </span>
                            </a>
                            <a href="/homework" class="side-nav-link">
                                <i class="uil-book-open"></i>
                                <span> Homeworks </span>
                            </a>
                        </li>

                        <li class="side-nav-title side-nav-item">Admin</li>
                        <li class="side-nav-item">
                            <a href="#" class="side-nav-link">
                                <i class="uil-user"></i>
                                <span> Teacher </span>
                            </a>
                        </li>

        
                    </ul>

                    <!-- End Sidebar -->

                </div>
                <!-- Left Sidebar End -->

                <div class="content-page">
                    <div class="content">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Students</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->    
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>이름</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            <p class="m-0 d-inline-block align-middle font-16">
                                                                <a href="apps-ecommerce-products-details.html" class="text-body">이준석</a>
                                                            </p>
                                                        </td>                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2
                                                        </td>
                                                        <td>
                                                            <p class="m-0 d-inline-block align-middle font-16">
                                                                <a href="apps-ecommerce-products-details.html" class="text-body">권수현</a>
                                                            </p>
                                                        </td>                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            3
                                                        </td>
                                                        <td>
                                                            <p class="m-0 d-inline-block align-middle font-16">
                                                                <a href="apps-ecommerce-products-details.html" class="text-body">박능엄</a>
                                                            </p>
                                                        </td>                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            4
                                                        </td>
                                                        <td>
                                                            <p class="m-0 d-inline-block align-middle font-16">
                                                                <a href="apps-ecommerce-products-details.html" class="text-body">김민정</a>
                                                            </p>
                                                        </td>                                                        
                                                    </tr>                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div>
                </div>
            </div>
            
        </div>

    </body>
</html>